.profile__edit-button {
  background-image: url(../../../images/edit-button.svg);
  width: 18px;
  height: 18px;
  background-color: black;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #fff;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 980px) {
  .profile__edit-button {
    background-size: 10px 10px;
    width: 24px;
    height: 24px;
  }
}
