.popup__input {
  border: none;
  padding: 0;
  border-bottom: 1px solid #000;
  min-height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  max-width: 238px;
  margin-bottom: 30px;
}

@media screen and (min-width: 980px) {
  .popup__input {
    margin-bottom: 30px;
    max-width: 358px;
  }
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

