.profile {
  max-width: 282px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 720px) {
  .profile {
    max-width: 880px;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 980px) {
  .profile {
    justify-content: space-between;
  }
}
