.header__logo {
  max-width: 103px;
  min-height: 24px;
  padding:  28px 103px 24px 27px;
}

@media screen and (min-width: 980px) {
  .header__logo {
    max-width: 142px;
    min-height: 33px;
    padding: 0;
  }
}
