.profile__subtitle {
  color: white;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding-bottom: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  max-width: 250px;
}

@media screen and (min-width: 980px) {
  .profile__subtitle {
    font-size: 18px;
    line-height: 22px;
    text-align: start;
    max-width: 358px;
  }
}
