.profile__add-button {
  background-image: url(../../../images/add-button.svg);
  width: 282px;
  padding: 23px;
  background-color: black;
  margin-top: 32px;
  margin-bottom: 36px;
  border: 2px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 980px) {
  .profile__add-button {
    background-image: url(../../../images/add-button_des.svg);
    width: 150px;
    margin: 0;
  }
}
