.card__btn_action_del {
  background-image: url(../../../images/Trash.svg);

  transition: opacity 0.3 linear;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  right: 20px;
  top: 15px;
  padding: 10px;
  position: absolute;
}

.card__btn_action_del:hover {
  opacity: 0.6;
  cursor: pointer;
}
