.places__list {
  list-style-type: none;
  margin: 0 auto;
  max-width: 282px;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
  display: grid;
  padding: 0;
}

@media screen and (min-width: 720px) {
  .places__list {
    max-width: 600px;
  }
}

@media screen and (min-width: 980px) {
  .places__list {
    max-width: 880px;
  }
}
