.popup__close-button {
  background-image: url(../../../images/popup_close-button.svg);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: -36px;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 980px) {
  .popup__close-button {
    background-image: url(../../../images/close-button-des.svg);
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
  }
}
