.place {
  max-width: 282px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  border-radius: 10px;
  min-height: 362px;
  box-sizing: border-box;
}
