.footer {
  min-width: 282px;
  margin: auto;
}

@media screen and (min-width: 720px) {
  .footer {
    min-width: 600px;
  }
}


@media screen and (min-width: 980px) {
  .footer {
    min-width: 880px;
  }
}
